{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Rango diz:</h1>
    <div>
        Olá parceiro! <br/>
        <strong>{{bold_message}}</strong><br/>
    </div>
    <div>
        {% if categories %}
        <h1>Top 5 categorias mais curtidas</h1>
        <ul>
            {% for category in categories %}
                <li> <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a> ({{ category.likes }})</li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>Não existem categorias cadastradas.</strong>
        {% endif %}
    </div>
    <div>
        {% if pages %}
            <h1>Top 5 páginas mais visitadas</h1>
            <ul>
                {% for page in pages %}
                        <li><a target=_blank href="{{ page.url }}">{{ page.title }}</a> ({{ page.views }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>Não existem páginas cadastradas.</strong>
        {% endif %}
    </div>

{% endblock body_block %}